@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="range"] {
    @apply appearance-none bg-transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.25rem;
    background-color: #B2B2B2;
    border-radius: 9999px;
  }

  input[type="range"]::-moz-range-track {
    height: 0.25rem;
    background-color: #B2B2B2;
    border-radius: 9999px;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-2.5 h-6 bg-black cursor-pointer;
    margin-top: -9px;
    /* Centering the thumb on the track */
    border-radius: 0;
  }

  input[type="range"]::-moz-range-thumb {
    @apply w-2.5 h-6 bg-black border-none cursor-pointer;
    border-radius: 0;
  }
}